[Desktop Entry]
Type=Application
Name=DTU: TPM2-binding
Comment=Tells the user if the disk no longer unlocks itself
Exec=/usr/local/bin/dtu-tpm2-notify.sh
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
